div{
    font-family: 'Roboto', sans-serif;
}
h2{
    font-family: 'Manrope', sans-serif;
    padding: 10px;
}
td{
    padding-bottom: 30px;
}

.card-home{
    position:relative;
    left: 80px;
    bottom: 400px;
    font-size: 50px;
}
.card-home-header{
    position: relative;
}
.card-content{
    text-align: left;
}
.card-title{
    font-weight: bold;
}
.navbar-brand{
    font-size: 15px;
    font-family: 'Krona One', sans-serif;
    justify-items: left;
    color:white;
}

.card-header{
    font-weight: bold;
}

.contact{
    font-size: 18px;
    padding: 10px;
}
.contact>p{
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 20px;
}

.icon-group{
    text-align: center;
    font-size: 30px;
}
.icon-group>a{
    color: black;
}
.position-adjust{
    position: relative;
    top: 80px;
    left: 30px;
}